@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BioRhyme";
  src: url("../public/fonts/BioRhyme-ExtraBold.ttf");
}

@font-face {
  font-family: "Spectral";
  src: url("../public/fonts/Spectral-Regular.ttf");
}

.color-fit {
  color: darkslateblue;
}

.bg-color-fit {
  background-color: #cce8ff;
}

.bg-color-fit-2 {
  background-color: darkslateblue;
}

.bg-color-fit-3 {
  background-color: darkblue;
}

.border-color-fit {
  border-color: darkslateblue;
}
